.defaultBoxTable
{

}
.defaultText
{
    color:blue;
}
.defaultBoxTopLeft
{
	padding:0px;
	width:3px;
	height:12px;
	background-image:url(TopLeft.gif);

}
.defaultBoxHeader
{
	height:12px;
	padding:0px;
	background-color:#2951A5;
}
.defaultBoxTitle
{
	font-family:Verdana;
	font-size:7pt;
	font-weight:bold;
	color:White;
	cursor:default;	
}
.defaultBoxTopRight
{
	padding:0px;
	width:3px;
	height:12px;
	background-image:url(TopRight.gif);
	
}
.defaultBoxMiddleLeft
{
	padding:0px;
	width:3px;
	background-image:url(MiddleLeft.gif);
	background-repeat:repeat;	
}
.defaultBoxMiddleCenter
{
	background-color:#638EDE;
	padding:0px;	
}

.defaultBoxContent
{
	background-color:#638EDE;
	padding:0px;	
	width:100px;
	height:50px;
	font-family:Verdana;
	font-size:8pt;
	color:White;
	overflow:hidden;
}

.defaultBoxMiddleRight
{
	padding:0px;
	width:3px;
	background-image:url(MiddleRight.gif);
	background-repeat:repeat;
}

.defaultBoxHandleContainer
{
	padding:0px;
	height:5px;
	background-color:#638EDE;
	text-align:center;
}
.defaultBoxHandle
{
	width:11px;
	height:3px;
	font-size:1px;
	background-image:url(Handle.gif);
	cursor:s-resize;
}
.defaultBoxHandleInvi
{
	width:11px;
	height:3px;
	font-size:1px;	
	background-image:url(Handle.gif);
	cursor:s-resize;
	display:none;
}


.defaultBoxBottomLeft
{
	padding:0px;
	width:3px;
	height:3px;
	background-image:url(BottomLeft.gif);	
}
.defaultBoxBottomCenter
{
	padding:0px;
	height:3px;
	background-image:url(BottomCenter.gif);
	background-repeat:repeat;	
}
.defaultBoxBottomRight
{
	padding:0px;
	width:3px;
	height:3px;
	background-image:url(BottomRight.gif);
}
.defaultSmallBoxTable
{
	position:absolute;
	cursor:pointer;
}
.defaultSmallBoxTableBlur
{
	position:absolute;
	cursor:pointer;
	
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;	
}

.defaultSmallBoxLeft
{
	padding:0px;
	width:2px;
	height:16px;
	background-image:url(SmallBoxLeft.gif);	
}
.defaultSmallBoxCenter
{
	background-color:#638EDE;
	padding:0px;
}
.defaultSmallBoxRight
{
	padding:0px;
	width:2px;
	height:16px;
	background-image:url(SmallBoxRight.gif);	
}
.defaultSmallBoxContent
{
	background-color:#638EDE;
	padding:0px;
	font-family:Verdana;
	font-size:8pt;
	color:White;
	overflow:hidden;
	cursor:pointer;	
}
.defaultSmallBoxArrowLeft
{
	width:4px;
	height:7px;
	background-image:url(SmallBoxArrowLeft.gif);
}

.defaultSmallBoxArrowRight
{
	width:4px;
	height:7px;
	background-image:url(SmallBoxArrowRight.gif);	
}
.defaultSmallBoxExpand
{
	width:6px;
	padding:0px;
	background-color:#638EDE;
}
