/*CollapsiblePanel*/
.MapLeftMenu_CollapsePanel {
	background-color:white;
	overflow:hidden;
}

.MapLeftMenu_CollapsePanelHeader {
	width:190px;
	height:21px;
	background-image: url(../images/CollapsePanel/CollapsePanelHeader.png);
	background-repeat: no-repeat;
}

.MapLeftMenu_CollapsePanelHeader span 
{
	color:#000000;
	font-weight:bold;
	cursor: pointer;
	margin: 6px 0 0 6px;
}

.MapLeftMenu_PanelContainer 
{
	margin: 8px 0 0 4px;
}

.buttonGreen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	font-weight:bold;
	border: 1px solid #1A5000;
	height: 17px;
	background-repeat: repeat;
	background-image: url('../images/buttonGreen_background.gif');
	cursor: hand;
	background-color: #B3D086;
}

.MapLeftMenu_CollapsePanelContent_label
{
	background-color:#EEEEEE;
	margin: 20px 5px 5px 5px; 
	padding-top:9px;
	padding-left:7px;
	font-style:italic; 
	font-size:7pt;
	height:25px;	
}


.MapLeftMenu_CollapsePanelContent
{
	margin-top: -1px;
	width:181px;
	margin-left: 2px;
	border: solid 1px #ccc;
	padding: 0 2px 2px 2px;
}

.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    background-image: url(../images/CollapsePanel/aqua-bg.gif);
    background-position: top left;
    border: 0px none;
    padding: 2px 0px 0px 8px;
    font-size: 11px;
    height: 17px;
    width: 150px;
}
.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(../images/CollapsePanel/aqua-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 19px;
    width: 19px;
}
.AquaStyle .ajax__combobox_itemlist
{
    border-color: #000000;
    background-color: #FFFFFF;
}
